VITE_API_BASE_URL=http://localhost:8080/api
VITE_AUTHORITY_URL=https://autority-url.de/realms/ttp 
VITE_AUTHORITY_CLIENT=frontend
VITE_AUTHORITY_REDIRECT_URI=https://localhost:5173/auth/callback
VITE_AUTHORITY_SILENT_URI=https://localhost:5173/silent-renew.html